@color-1: #393939;
@color-2: #fff;
@color-3: #dc5e35;
@color-4: #363636;
@font-size-lg: 16px;
@font-size-sm: 12px;
@margin-sm: 12px;
@margin-xss: 4px;
@padding-xs: 8px;
@padding-xss: 4px;

.wrapper3 {
  display: flex;
  position: absolute;
  top: 86px;
  right: 32px;
  bottom: 0;
  left: 142px;
  flex-direction: column;
  align-items: center;
  width: 277.5px;
  padding: 56px @padding-xs @padding-xss;
  background-color: @color-2;
}

.clsDiv4 {
  display: flex;
  flex-direction: column;
}

.clsSpan2 {
  margin-left: 124px;
  color: @color-1;
  font-size: @font-size-lg;
  font-weight: bold;
}

.clsSpan3 {
  align-self: center;
  margin-top: @margin-sm;
  color: @color-1;
  font-size: @font-size-lg;
  font-weight: bold;
}

.clsButton2 {
  align-self: flex-start;
  min-width: 82px;
  height: 42px;
  margin-top: @margin-sm;
  margin-left: 166px;
  background-color: @color-2;
  color: @color-3;
}

.clsDiv5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  margin-top: 22px;
  gap: 2px;
}

.clsIcon2 {
  width: 22px;
  height: 22px;
  color: @color-4;
  font-size: 22px;
}

.clsDiv6 {
  position: relative;
  min-width: 186px;
  min-height: 34px;
}

.clsDiv7 {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 14px;
  left: 0;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.componentCommonLzd9 {
  white-space: nowrap;
  color: @color-1;
  font-size: @font-size-sm;
}

.componentCommonLzd9:nth-child(1) {
  flex: 1;
}

.componentSharedIst5 {
  white-space: nowrap;
  color: @color-1;
  font-size: @font-size-sm;
}

.clsDiv8 {
  display: flex;
  position: absolute;
  top: 8px;
  right: 60px;
  bottom: 0;
  left: 70px;
  flex-direction: row;
  align-items: center;
}

.componentCommonGvh9 {
  white-space: nowrap;
  color: @color-1;
  font-size: @font-size-lg;
  font-weight: bold;
}

.componentCommonGvh9:nth-child(2) {
  margin-left: @margin-xss;
}

.clsIcon3 {
  width: 20px;
  height: 20px;
  color: @color-4;
  font-size: 20px;
}

.clsDiv9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: @margin-xss;
  gap: 20px;
}
