@color-1: #393939;
@color-2: #363636;
@color-3: #dc5e35;
@color-4: #fff;
@font-size-lg: 16px;
@font-size-sm: 12px;
@margin-sm: 12px;
@margin-xs: 8px;
@padding-xs: 8px;
@padding-xss: 4px;

.wrapper4 {
  display: flex;
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: 277.5px;
  padding: 56px 6px @padding-xss @padding-xs;
  background-color: @color-4;
}

.clsDiv11 {
  display: flex;
  flex-direction: column;
  margin-left: @margin-sm;
}

.clsDiv12 {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 10px;
}

.componentCommonZsr2 {
  white-space: nowrap;
  color: @color-1;
  font-size: @font-size-lg;
  font-weight: bold;
}

.componentCommonZsr2:nth-child(2) {
  margin-top: 10px;
}

.uploadArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clsIcon4 {
  align-self: flex-end;
  width: 22px;
  height: 22px;
  color: @color-2;
  font-size: 22px;
}

.clsDiv14 {
  position: relative;
  align-self: center;
  min-width: 84px;
  min-height: 94px;
}

.clsButton3 {
  position: absolute;
  top: 36px;
  right: 0;
  left: 0;
  height: 42px;
  background-color: @color-4;
}

.clsSpan15 {
  white-space: nowrap;
  color: @color-3;
}

.clsSpan16 {
  white-space: nowrap;
  color: @color-1;
}

.clsIcon5 {
  position: absolute;
  right: 18px;
  bottom: 0;
  width: 22px;
  height: 22px;
  color: @color-2;
  font-size: 22px;
}

.clsButton4 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 82px;
  height: 42px;
  background-color: @color-4;
  color: @color-3;
}

.clsDiv15 {
  position: relative;
  min-width: 262px;
  min-height: 55px;
  margin-top: @margin-xs;
}

.clsDiv16 {
  position: relative;
  top: 0;
  right: 2px;
  bottom: 26px;
  left: 0;
  min-width: 260px;
  min-height: 28px;
}

.clsDiv17 {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.componentSharedIst5 {
  white-space: nowrap;
  color: @color-1;
  font-size: @font-size-sm;
}

.clsIcon6 {
  position: absolute;
  top: 5px;
  right: 16px;
  width: 22px;
  height: 22px;
  color: @color-2;
  font-size: 22px;
}

.clsIcon7 {
  position: absolute;
  top: 6px;
  left: 12px;
  width: 22px;
  height: 22px;
  color: @color-2;
  font-size: 22px;
}

.clsIcon8 {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 22px;
  height: 22px;
  color: @color-2;
  font-size: 22px;
}

.clsDiv18 {
  display: flex;
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.clsDiv19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
