@color-1: #fff;
@color-2: #dc5e35;
@color-3: #363636;
@color-4: #393939;
@font-size-sm: 12px;
@margin-sm: 12px;
@margin-xs: 8px;
@padding-xs: 8px;

.wrapper6 {
  display: flex;
  flex-direction: column;
  width: 282px;
  margin-top: 2px;
  margin-left: 146px;
  padding: 15px 2px 152px @padding-xs;
  background-color: @color-1;
}

.clsDiv20 {
  display: flex;
  flex-direction: column;
  margin-right: @margin-sm;
  margin-left: @margin-sm;
}

.clsButton5 {
  align-self: flex-end;
  min-width: 82px;
  height: 42px;
  background-color: @color-1;
  color: @color-2;
}

.clsDiv21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  margin-right: 2px;
}

.componentSharedHjt7 {
  width: 22px;
  height: 22px;
  color: @color-3;
  font-size: 22px;
}

.clsDiv22 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clsDiv23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: @margin-xs;
}

.componentSharedYmm9 {
  color: @color-4;
  font-size: @font-size-sm;
}
