@color-1: #393939;
@color-2: #fff;
@color-3: #dc5e35;
@color-4: #363636;
@font-size-lg: 16px;
@font-size-sm: 12px;
@margin-sm: 12px;
@margin-xs: 8px;
@padding-xs: 8px;
@padding-xss: 4px;

.wrapper7 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 294px;
  margin-bottom: 148px;
  padding: 96px 110px @padding-xss @padding-xs;
  background-color: @color-2;
}

.clsSpan29 {
  margin-left: 14px;
  color: @color-1;
  font-size: @font-size-lg;
  font-weight: bold;
}

.clsButton6 {
  align-self: center;
  min-width: 82px;
  height: 42px;
  margin-top: @margin-sm;
  background-color: @color-2;
  color: @color-3;
}

.clsIcon12 {
  align-self: center;
  width: 20px;
  height: 20px;
  margin-top: 30px;
  margin-left: @margin-xs;
  color: @color-4;
  font-size: 20px;
}

.clsDiv24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  margin-top: 10px;
  gap: 20px;
}

.componentSharedIst5 {
  white-space: nowrap;
  color: @color-1;
  font-size: @font-size-sm;
}
